* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #ededf6;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: #ededf6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #dc143c;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
}

header a {
    text-decoration: none;
    color: #57a6ff;
}

header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header nav ul li a:hover {
    background: #dc143c;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}
  
/* HEADER / NAVBAR STYLES END */

.hero {
    background-image: url(../images/background.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

/* ABOUT ME SECTION START */

.intro h2 {
    color: #dc143c;
}

.intro p {
    text-align: center;
}